<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=|DataDirectory|App_Data/appdata.db;Version=3;"
			 providerName="System.Data.SQLite" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="RobotArmServer.Services.RobotArmService" behaviorConfiguration="RobotArmServiceBehavior">
				<!-- Normal service endpoint -->
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="RobotArmServer.Services.IRobotArmService" />

				<!-- Add this MEX endpoint -->
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/RobotArmService"/>
					</baseAddresses>
				</host>
			</service>
		</services>

		<!-- Add this behaviors section -->
		<behaviors>
			<serviceBehaviors>
				<behavior name="RobotArmServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>


	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>
